:root {
  --primary-color: rgb(171, 152, 115);
  --secondary-color: rgb(144, 120, 72);
  --white-color: white;
  --black-color: black;
  --bg-color: #001220;
}

@font-face {
  font-family: "Fraunces Bold Italic";
  src: url(/assets/fonts/Fraunces_9pt-BoldItalic.ttf);
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "Literata", sans-serif;
  margin: 0;
  padding: 0;
  background: var(--bg-color);
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: center;
  align-items: center;
  gap: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

button {
  cursor: pointer;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 100 !important;
  overflow: hidden;
  border-top: 5px solid var(--primary-color);
}
nav .scrolled {
  background-color: var(--white-color) !important;
}
nav .desktop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem 0 2rem;
  background-color: var(--white-color);
  padding-bottom: 1rem;
}
nav .desktop .logo-wrapper {
  font-family: "Fraunces Bold Italic";
  font-size: 1.5rem;
  color: var(--primary-color);
}
nav .desktop ul {
  display: flex;
  gap: 1rem;
}
nav .desktop ul a {
  padding: 0.1rem 0.5rem;
  font-size: 1.3rem;
  color: var(--primary-color);
}
nav .desktop ul a:hover {
  color: var(--secondary-color);
}
nav .mobile {
  position: relative;
  z-index: 100;
  display: none;
}
nav .mobile .outer {
  border-top: 5px solid var(--primary-color);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem 0.5rem 2rem;
  background-color: var(--white-color);
}
nav .mobile .outer .logo-wrapper {
  font-family: "Fraunces Bold Italic";
  font-size: 1.5rem;
  color: var(--primary-color);
}
nav .mobile .outer svg {
  padding: 1rem;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  color: var(--black-color);
}
nav .mobile .middle {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}
nav .mobile .inner {
  transition: all 0.2s linear;
  position: fixed;
  top: 0;
  right: -100%;
  background-color: var(--white-color);
  height: 100vh;
  width: 40%;
  padding-bottom: 1rem;
}
nav .mobile .inner ul {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
nav .mobile .inner ul a {
  padding: 0.1rem 0.5rem;
  font-size: 1.3rem;
  color: var(--primary-color);
  transition: all 0.1s linear;
}
nav .mobile .inner ul a:hover {
  background-color: var(--secondary-color);
  color: var(--white-color);
}
nav .mobile .inner ul a li {
  padding: 1rem;
  transition: all 0.1s linear;
}
nav .mobile .inner ul .download {
  background-color: var(--secondary-color);
}
@media (max-width: 768px) {
  nav .desktop {
    display: none;
  }
  nav .mobile {
    display: block;
  }
}

#picked {
  color: var(--secondary-color) !important;
  border-bottom: 0.2rem solid var(--secondary-color);
}

#picked-mobile {
  background-color: var(--secondary-color);
  color: var(--white-color);
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("assets/images/kellogg.jpg");
  background-position: center;
  background-size: cover;
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 110vh;
  border-bottom-right-radius: 3rem;
  border-bottom-left-radius: 3rem;
  border-bottom: var(--primary-color) solid 0.8rem;
}
.hero .hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  color: var(--white-color);
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.hero .hero-content h1 {
  font-family: "Fraunces Bold Italic";
  font-size: 5rem;
}
@media (max-width: 768px) {
  .hero .hero-content h1 {
    font-size: 3rem;
  }
}
.hero .hero-content p {
  margin: 0 auto;
  font-size: 1rem;
  width: 500px;
  padding-top: 0.5rem;
}
@media (max-width: 768px) {
  .hero .hero-content p {
    font-size: 0.8rem;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.carousel {
  display: block;
  width: 100%;
  height: 60vh;
}
.carousel .smoli-dot {
  position: relative;
  display: flex;
  z-index: 3;
  justify-content: center;
  margin: 0 auto;
  top: -1rem;
}
.carousel .smoli-dot svg {
  width: 2rem;
}
.carousel .carousel-container {
  margin-top: 1.3rem;
  width: 80%;
  height: 90%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 20/6;
  overflow: hidden;
}
.carousel .carousel-container .item {
  color: white;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  justify-content: center;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  height: 100%;
  align-items: center;
  margin: 0 auto;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
}
.carousel .carousel-container .first-item {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/images/froot-loops-bg.jpg");
  background-size: cover;
  background-position: center;
  left: 0;
}
.carousel .carousel-container .second-item {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/images/corn-flakes-bg.jpg");
  background-size: cover;
  background-position: center;
  left: 100%;
}
.carousel .carousel-container .third-item {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/images/cocoa-frosties-bg.jpg");
  background-size: cover;
  background-position: center;
  left: 100%;
}
.carousel .carousel-container img {
  width: 18rem;
  -o-object-fit: contain;
     object-fit: contain;
  filter: drop-shadow(-1.3rem 1rem 1rem black);
}
.carousel .carousel-container h1 {
  font-size: 2rem;
  text-shadow: -0.5rem 0.5rem 0.5rem black;
}
@media (max-width: 640px) {
  .carousel .carousel-container img {
    width: 13rem;
  }
  .carousel .carousel-container h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 462px) {
  .carousel .carousel-container img {
    width: 10rem;
  }
  .carousel .carousel-container h1 {
    font-size: 1.5rem;
  }
}

.recipes {
  width: 80%;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
  border-bottom: solid 0.5rem var(--primary-color);
  color: white;
  display: block;
  justify-content: center;
  text-align: center;
  background-color: white;
  border-radius: 10px;
}
.recipes .title {
  color: black;
  margin-bottom: 5vh;
  font-family: "Fraunces Bold Italic";
}
.recipes .recipes-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
.recipes .recipes-container h1 {
  width: 90%;
  margin: auto;
}
.recipes .recipes-container .first {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/images/banana-butter.jpg");
}
.recipes .recipes-container .second {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/images/peanut-butter.jpg");
  background-position: 40% !important;
}
.recipes .recipes-container .third {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/images/french-toast.jpg");
}
.recipes .recipes-container .first, .recipes .recipes-container .second, .recipes .recipes-container .third {
  width: 20rem !important;
  height: 45vh;
  margin: 1rem;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: 0.3s ease-in-out;
}
.recipes .recipes-container .first .type, .recipes .recipes-container .second .type, .recipes .recipes-container .third .type {
  padding: 3vh;
}
.recipes .recipes-container .first .timer, .recipes .recipes-container .first .serving, .recipes .recipes-container .second .timer, .recipes .recipes-container .second .serving, .recipes .recipes-container .third .timer, .recipes .recipes-container .third .serving {
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: auto;
}
.recipes .recipes-container .first .timer svg, .recipes .recipes-container .first .serving svg, .recipes .recipes-container .second .timer svg, .recipes .recipes-container .second .serving svg, .recipes .recipes-container .third .timer svg, .recipes .recipes-container .third .serving svg {
  padding: 0;
  margin: 0;
  height: auto;
  width: 3rem;
}
.recipes .recipes-container .first .timer p, .recipes .recipes-container .first .serving p, .recipes .recipes-container .second .timer p, .recipes .recipes-container .second .serving p, .recipes .recipes-container .third .timer p, .recipes .recipes-container .third .serving p {
  padding: 5px;
  width: 100px;
}
.recipes .recipes-container .first .timer, .recipes .recipes-container .second .timer, .recipes .recipes-container .third .timer {
  bottom: 9.5vh;
  left: 50%;
  transform: translate(-50%);
}
.recipes .recipes-container .first .serving, .recipes .recipes-container .second .serving, .recipes .recipes-container .third .serving {
  bottom: 2.5vh;
  left: 50%;
  transform: translate(-50%);
}
.recipes .recipes-container .first:hover, .recipes .recipes-container .second:hover, .recipes .recipes-container .third:hover {
  cursor: pointer;
  transform: translate(0, -1.1rem);
}

.haikei {
  aspect-ratio: 960/100;
  background-image: url("./assets/images/waves.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  gap: 0;
  margin: 0;
  padding: 0;
}

.footer {
  display: flex;
  height: 20vh;
  width: 100%;
  margin: 0;
  background-color: var(--secondary-color);
  color: white;
}
.footer .footer-container {
  display: flex;
  flex-direction: column;
  height: 20vh;
  width: 100%;
  margin: 0;
  background-color: var(--secondary-color);
  position: relative;
}
.footer .footer-container h1 {
  text-align: right;
  position: absolute;
  right: 53%;
  top: 50%;
  transform: translate(0, -50%);
  width: 15rem;
  font-family: "Fraunces Bold Italic";
  font-size: 2.5rem;
}
.footer .footer-container .sos {
  position: absolute;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  left: 53%;
  top: 50%;
  transform: translate(0, -50%);
}
.footer .footer-container .sos .sos-logo {
  width: 2.5rem;
}
.footer .footer-container .vertical-line {
  margin: 0;
  padding: 0;
  position: absolute;
  height: 10vh;
  border-left: solid 0.1rem white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 560px) {
  .footer .footer-container h1 {
    font-size: 1.5rem;
    width: 10rem;
  }
  .footer .footer-container .sos {
    position: absolute;
  }
  .footer .footer-container .sos .sos-logo {
    width: 1.5rem;
  }
  .footer .footer-container .vertical-line {
    margin: 0;
    padding: 0;
    position: absolute;
    height: 7vh;
    border-left: solid 0.1rem white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.products {
  background-color: var(--white-color);
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 10px;
  border-bottom: solid 0.5rem var(--primary-color);
  margin: 5rem;
}
.products h1 {
  text-align: center;
  font-family: "Fraunces Bold Italic", sans-serif;
  margin-top: 2rem;
}
.products .product-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-auto-rows: 20rem;
  gap: 2rem;
  padding: 16px;
}
.products .product-wrapper .card {
  margin: 0 auto;
}
.products .product-wrapper .card .img-wrapper {
  width: 15rem;
  height: 20rem;
}
.products .product-wrapper .card .img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.products .product-wrapper .card p {
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.recipe {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  max-width: 80rem;
  margin: 0 auto;
  background-color: var(--white-color);
  margin-top: 5rem;
  margin-bottom: 5rem;
  border-radius: 10px;
  padding-top: 5rem;
  padding-bottom: 5rem;
  border-bottom: solid 0.5rem var(--primary-color);
}
.recipe .card {
  background-color: var(--primary-color);
  color: var(--white-color);
  width: 15rem;
  height: 20rem;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}
.recipe .card .name,
.recipe .card .name2,
.recipe .card .name3,
.recipe .card .timer,
.recipe .card .serving {
  position: relative;
  z-index: 3;
}
.recipe .card svg {
  width: 2rem;
  height: 2rem;
}
.recipe .card .timer, .recipe .card .serving {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
  gap: 0.3rem;
}
.recipe .card .name {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.recipe .card .name2 {
  margin-bottom: 10%;
  font-size: 2rem;
}
.recipe .card .name3 {
  font-size: 0.8rem;
  margin-bottom: 1.8rem;
}
.recipe .card .img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 20rem;
  width: 100%;
  z-index: 1;
}
.recipe .card .img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(50%);
}
.recipe .card:hover {
  cursor: pointer;
  transform: translate(0, -1.1rem);
}

.aboutus {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  max-width: 80rem;
  margin: 0 auto;
  background-color: var(--white-color);
  margin-top: 5rem;
  margin-bottom: 5rem;
  border-radius: 10px;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-bottom: solid 0.5rem var(--primary-color);
}
.aboutus .history {
  display: flex;
  align-items: center;
}
.aboutus .history img {
  width: 25rem;
}
.aboutus .history .history-text {
  padding: 1rem;
  text-align: justify;
}
.aboutus .history .history-text h1 {
  font-family: "Fraunces Bold Italic";
  margin-bottom: 1rem;
}
.aboutus .mnp {
  display: flex;
  align-items: center;
}
.aboutus .mnp img {
  width: 25rem;
}
.aboutus .mnp .mnp-text {
  padding: 1rem;
  text-align: justify;
}
.aboutus .mnp .mnp-text h1 {
  font-family: "Fraunces Bold Italic";
  text-align: right;
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .aboutus .history {
    flex-wrap: wrap;
    justify-content: center;
  }
  .aboutus .history img {
    width: 20rem;
  }
  .aboutus .mnp {
    flex-wrap: wrap;
    justify-content: center;
  }
  .aboutus .mnp img {
    width: 20rem;
  }
}

.contactus {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  max-width: 80rem;
  margin: 0 auto;
  background-color: var(--white-color);
  margin-top: 5rem;
  margin-bottom: 5rem;
  border-radius: 10px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.contactus h1 {
  margin: 0 auto;
  font-family: "Fraunces Bold Italic";
}
.contactus form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  gap: 1rem;
}
.contactus form .small {
  border: none;
  outline: none;
  padding: 1rem;
  color: var(--secondary-color);
  border-bottom: solid 0.1rem var(--primary-color);
}
.contactus form textarea::-moz-placeholder, .contactus form .small::-moz-placeholder {
  color: var(--secondary-color);
  opacity: 50%;
}
.contactus form textarea::placeholder, .contactus form .small::placeholder {
  color: var(--secondary-color);
  opacity: 50%;
}
.contactus form textarea {
  resize: none;
  border: none;
  outline: none;
  padding: 1rem;
  font-family: "Literata", sans-serif;
  border: solid 0.1rem var(--primary-color);
  color: var(--secondary-color);
}
.contactus form .submit {
  border: none;
  outline: none;
  padding: 1rem;
  color: white;
  background-color: var(--primary-color);
  transition: 0.3s ease-in-out;
}
.contactus form .submit:hover {
  background-color: var(--secondary-color);
}
@media (max-width: 768px) {
  .contactus form {
    width: 85%;
  }
}/*# sourceMappingURL=style.css.map */