:root {
    --primary-color: rgb(171, 152, 115);
    --secondary-color: rgb(144, 120, 72);
    --white-color: white;
    --black-color: black;
    --bg-color: #001220;
}

@font-face {
    font-family: 'Fraunces Bold Italic';
    src: url(/assets/fonts/Fraunces_9pt-BoldItalic.ttf);
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    font-family: "Literata", sans-serif;
    margin: 0;
    padding: 0;
    background: var(--bg-color);
    position: relative;
    user-select: none;
    // min-height: 100vh;
    height: fit-content;
    justify-content: center;
    align-items: center;
    gap: 0;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--primary-color);
}

button{
    cursor: pointer;
}

nav{
    position: fixed;
    width: 100%;
    z-index: 100 !important;
    overflow: hidden;

    border-top: 5px solid var(--primary-color);

    .scrolled{
        background-color: var(--white-color) !important;
    }

    .desktop{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 2rem 0 2rem;
        background-color: var(--white-color);
        padding-bottom: 1rem;


        .logo-wrapper{
            font-family: "Fraunces Bold Italic";
            font-size: 1.5rem;

            color: var(--primary-color);
        }

        ul{
            display: flex;
            gap: 1rem;

            a{
                padding: .1rem .5rem;
                font-size: 1.3rem;
                color: var(--primary-color);
            }

            a:hover{
                color: var(--secondary-color);
            }
        }
    }

    .mobile{
        position: relative;
        z-index: 100;
        display: none;

        .outer{
            border-top: 5px solid var(--primary-color);
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.5rem 2rem 0.5rem 2rem;
            background-color: var(--white-color);

            .logo-wrapper{
                font-family: "Fraunces Bold Italic";
                font-size: 1.5rem;

                color: var(--primary-color);

            }

            svg{
                padding: 1rem;
                cursor: pointer;
                width: 4rem;
                height: 4rem;
                color: var(--black-color);
            }
        }

        .middle{
            width: 100vw;
            height: 100vh;
            background-color: rgba($color: #000000, $alpha: .6);
            display: none;
        }

        .inner{
            transition: all .2s linear;
            position: fixed;
            top: 0;
            right: -100%;

            background-color: var(--white-color);
            height: 100vh;
            width: 40%;

            padding-bottom: 1rem;


            ul{
                padding-top: 5rem;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                
                a{
                    padding: .1rem .5rem;
                    font-size: 1.3rem;
                    color: var(--primary-color);
                    transition: all .1s linear;

                    
                    &:hover{
                        background-color: var(--secondary-color);
                        color: var(--white-color);
                    }

                    li{
                        padding: 1rem;
                        transition: all .1s linear;

                    }
                }

                .download{
                    background-color: var(--secondary-color);
                }
            }
        }
    }

        //small navbar
        @media (max-width: 768px){
            .desktop{
                display: none;
            }

            .mobile{
                display: block;
            }
        }
}

#picked{
    color: var(--secondary-color) !important;
    border-bottom: 0.2rem solid var(--secondary-color);
}

#picked-mobile{
    background-color: var(--secondary-color);
    color: var(--white-color);
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('assets/images/kellogg.jpg');
    background-position: center;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 110vh;
    border-bottom-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    border-bottom: var(--primary-color) solid 0.8rem;


    .hero-content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0 auto;
        color: var(--white-color);
        width: fit-content;
        text-align: center;
        justify-content: center;
        align-items: center;

        h1 {
            font-family: 'Fraunces Bold Italic';
            font-size: 5rem;
            
            @media (max-width: 768px) {
                font-size: 3rem;
            }
        }

        p {
            margin: 0 auto;
            font-size: 1rem;
            width: 500px;
            padding-top: 0.5rem;

            @media (max-width: 768px) {
                font-size: 0.8rem;
                width: fit-content;
            }
        }
    }
}

.carousel {
    display: block;
    width: 100%;
    height: 60vh;

    .carousel-container {
        margin-top: 1.3rem;
        // background-color: red;
        width: 80%;
        height: 90%;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        aspect-ratio: 20/6;
        overflow: hidden;

        .item {
            color: white;
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            justify-content: center;
            top: 50%;
            transform: translate(0, -50%);
            width: 100%;
            height: 100%;
            align-items: center;
            margin: 0 auto;
            border-radius: 10px;
        }

        .first-item {
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/images/froot-loops-bg.jpg');
            background-size: cover;
            background-position: center;
        }

        img {
            width: 18rem;
            object-fit: contain;
            filter: drop-shadow(-1.3rem 1rem 1rem black);
        }

        h1 {
            font-size: 2rem;
            text-shadow: -0.5rem 0.5rem 0.5rem black;
            // padding-right: 3rem;
        }
    }

}

.recipes {
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    border-bottom: solid 0.5rem var(--primary-color);
    color: white;
    display: block;
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius: 10px;

    .title {
        color: black;
        margin-bottom: 5vh;
    }

    .recipes-container {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;

        h1 {
            width: 90%;
            margin: auto;
        }

        .first {
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/images/banana-butter.jpg');
        }

        .second {
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/images/peanut-butter.jpg');
            background-position: 40% !important;
        }

        .third {
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/images/french-toast.jpg');
        }

        .first, .second, .third {
            width: 20rem !important;
            height: 45vh;
            margin: 1rem;
            border-radius: 10px;
            background-size: cover;
            background-position: center;
            position: relative;
            transition: 0.3s ease-in-out;

            .type {
                padding: 3vh;
            }

            .timer, .serving {
                position: absolute;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: auto;

                svg {
                    padding: 0;
                    margin: 0;
                    height: auto;
                    width: 3rem;
                }

                p {
                    padding: 5px;
                    width: 100px;
                }

            }

            .timer {
                bottom: 9.5vh;
                left: 50%;
                transform: translate(-50%);
            }

            .serving {
                bottom: 2.5vh;
                left: 50%;
                transform: translate(-50%);
            }

        }

        .first:hover, .second:hover, .third:hover {
            cursor: pointer;
            transform: translate(0, -1.1rem);
        }
    }
}

.haikei {
    aspect-ratio: 960/100;
    background-image: url("./assets/images/waves.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 0;
    margin: 0;
    padding: 0;


}

.footer {
    display: flex;
    height: 20vh;
    width: 100%;
    margin: 0;
    background-color: var(--secondary-color);

    color: white;
    
    .footer-container {
        display: flex;
        height: 20vh;
        width: 100%;
        margin: 0;
        background-color: var(--secondary-color);
        position: relative;

        h1 {
            position: absolute;
            right: 50%;
            top: 50%;
            transform: translate(0, -50%);
            width: 15rem;
            font-family: 'Fraunces Bold Italic';
            font-size: 2.5rem;
        }

        .sos {
            position: absolute;
            display: flex;
            gap: 1rem;
            justify-content: space-between;
            left: 53%;
            top: 50%;
            transform: translate(0, -50%);

            .sos-logo {
                width: 2.5rem;
            }
        }

        .vertical-line {
            margin: 0;
            padding: 0;
            position: absolute;
            height: 10vh;
            border-left: solid 0.1rem white;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        @media (max-width: 560px) {
            h1 {
                position: absolute;
                right: 50%;
                top: 50%;
                transform: translate(0, -50%);
                font-size: 1.5rem;
                width: 10rem;
            }

            .sos {
                position: absolute;
                .sos-logo {
                    width: 1.5rem;
                }
            }

            .vertical-line {
                margin: 0;
                padding: 0;
                position: absolute;
                height: 7vh;
                border-left: solid 0.1rem white;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }

    }
}

// ganti ini
.products {
    height: 100vh;
}

.recipe{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    max-width: 80rem;
    margin: 0 auto;
    background-color: var(--white-color);
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 10px;
    padding-top: 5rem;
    padding-bottom: 5rem;


    .card {
        background-color: var(--primary-color);
        color: var(--white-color);
        width: 15rem;
        height: 20rem;
        border-radius: 10px;
        padding: 1rem;
        text-align: center;
        position: relative;
        overflow: hidden;
    
        .name,
        .name2,
        .timer,
        .serving {
            position: relative;
            z-index: 3;  // Ensure these elements are above the image
        }
    
        svg {
            width: 2rem;
            height: 2rem;
        }
    
        .timer, .serving {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 0.5rem;
        }
    
        .name {
            font-weight: bold;
            font-size: 1.2rem;
            margin-bottom: 2rem;
        }
    
        .name2 {
            margin-bottom: 40%;
            font-size: 2rem;
        }
    
        .img-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            height: 20rem;
            width: 100%;
            z-index: 1;
    
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: brightness(70%);
            }
        }
    }
}

.aboutus {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    max-width: 80rem;
    margin: 0 auto;
    background-color: var(--white-color);
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 10px;
    padding-top: 3rem;
    padding-bottom: 3rem;

    .history {
        display: flex;
        align-items: center;
        // justify-content: center;
        img {
            width: 25rem;
        }

        .history-text {
            padding: 1rem;
            text-align: justify;

            h1 {
                margin-bottom: 1rem;
            }
        }
    }

    .mnp {
        display: flex;
        align-items: center;
        img {
            width: 25rem;
        }

        .mnp-text {
            padding: 1rem;
            text-align: justify;

            h1 {
                text-align: right;
                margin-bottom: 1rem;
            }
        }
    }

    @media (max-width: 768px) {
        .history {
            flex-wrap: wrap;
            justify-content: center;

            img {
                width: 20rem;
            }
        }
        .mnp {
            flex-wrap: wrap;
            justify-content: center;

            img {
                width: 20rem;
            }
        }
    }
}